<header class="site-header">

  <div class="wrapper">

    <h1><a class="site-title" href="{{ site.baseurl }}/">mrtnbrjs</a></h1>
    <nav class="site-nav">
      <div class="mobile-menu">
        <i class="fa fa-bars"></i>
      </div>
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">Acerca de mi</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
